:host {
  display: block;
}

.chef-layout-container {
  padding-top: 100px !important;
  min-height: calc(100vh - 100px);
  box-sizing: border-box;
  overflow-x: hidden;
}

.card-header {
  font-size: 0.95rem;
}
.list-unstyled li {
  padding: 2px 0;
}
